PORT=3000

# Database
DATABASE_URL=postgres://postgres:23082004@localhost:5432/ig_automation

# Meta Webhook Verification
IG_VERIFY_TOKEN=OIFHIERGIERHGKHSDIOGSOSIFPIOEFBDSJBKJXDK

# Meta Graph API
PAGE_ACCESS_TOKEN=IGAAPH2ae89UVBZAFpzbG1GSnludFlLZAFBSUS1Qci1MY3B3ZA3JyNkZAOZAmhLbDRUclhsekxvWGl5bVlOR0ZAMWFNEZAUx0aWthUW54SnRzN2ZAWTXRSSUtyTmtVbDhkS1BINlJVQ3J5NEY1dklkUGFoYllIV2hRdGJJOHc1UFcybzJIMAZDZD
IG_ACCOUNT_ID=17841475968765503
